<!-- Main Content -->
<!-- Parallex Image 1 -->
<div id="flashCodes" class="white-text center-align" style="display: none;">
    <h1 class="header" style="padding: 0; margin-top: 25px;"><a class="pink-text" href="/">FlashC</a><span
            class="btn-floating btn-large indigo accent-4 pulse valign-wrapper center-align"><i
                class="medium material-icons pulse flasher">code</i></span><a class="pink-text" href="/">des</a></h1>
    {{!-- <h3 class="captiontag red-text text-lighten-5 center-align">Study in &ltstyle&gt </h3> --}}
</div>
<div class="bgimg-1 center-align">

    <a class="goto-next scrolly downflash"><span
            class="btn-floating btn-large pink pulse center-align valign-wrapper" id="downward"><i
                class="medium material-icons" id="go-down">arrow_downward</i></span></a>

</div>


<div class="indigo accent-4 " style="padding:50px 80px;text-align: center;" id="starter">
    <a href="/cards" class="pink red-text text-lighten-5 waves-effect waves-light btn-large"><i
            class="material-icons left">school</i>Get Started Today!</a> </div>

</div>
<!-- Intro to Flashcodes -->
<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center;">What is FlashCodes? </h3>
    <p>
        Flashcodes is an online study resource that helps students learn coding concepts quickly with the help of
        interactive flashcards. Thanks to our interactive study community, users have generated content about
        need-to-know terminology, interview questions and code snippets complete with definitions and answers. We
        have material on many topics including HTML, CSS, Javascript, SQL, and more! Traditional study materials
        such as online articles and textbooks are helpful, but don’t help you retain information and recall for
        later use. With the help of Flashcodes, you can boost your coding knowledge and become a better developer
        today!
    </p>
</div>
<!-- Parallex Image 2 -->
<div class="bgimg-2">
    <div class="caption">
        <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"></span>
    </div>
</div>
<!-- Flashcode Features -->
<div class="container">
    <div class="row">
        <!-- Feature 1 -->
        <div class="col m4 s12 feet">
            <p class="z-depth-5"></p>
            <div class=" card-panel indigo accent-4  hoverable">
                <h2 class="center pink-text">
                    <a class="btn-floating btn-large pink pulse" href="/cards"><i class="material-icons">edit</i></a>
                    <br>
                </h2>
                <h3 class="white-text center">Study Anywhere</h3>
                <p class="white-text " style="text-align: center">
                    Create, share, and study code on the go using any device. You can use FlashCodes on mobile, tablet,
                    and desktop and pick up where you left off when switching devices. This gives coders the flexibility
                    to learn and develop their skills constantly.
                </p>
            </div>
        </div>
        <!-- Feature 2 -->
        <div class="col m4 s12 feet">
            <p class="z-depth-5"></p>
            <div class=" card-panel indigo accent-4  hoverable">
                <h2 class="center pink-text">
                    <a class="btn-floating btn-large pink pulse" href="/cards"><i
                            class="material-icons">developer_mode</i></a>
                    <br>
                </h2>
                <h3 class="white-text center">Learn Faster</h3>
                <p class="white-text " style="text-align: center">
                    By utilizing flashcards, you can retain information faster and start applying to your projects right
                    away! Practicing what you learn is a key part of the learning process. With FlashCode, users can
                    recall code faster and implement to develop smarter applications. </p>
            </div>
        </div>
        <!-- Feature 3 -->
        <div class="col m4 s12 feet">
            <p class="z-depth-5"></p>
            <div class=" card-panel indigo accent-4  hoverable">
                <h2 class="center pink-text">
                    <a class="btn-floating btn-large pink pulse" href="/cards"><i
                            class="material-icons">import_contacts</i></a>
                    <br>
                </h2>
                <h3 class="white-text center">Study Smarter</h3>
                <p class="white-text " style="text-align: center">
                    Choose from content created by other users or create your own flashcards for customized learning of
                    a variety of different programming languages. FlashCode’s simple tools can help students upload code
                    snippets and effectively break them down to understand each segment. </p>
            </div>
        </div>
    </div>
</div>
<!-- End of Flashcode Features -->
<!-- Parallex Image 3 -->
<div class="bgimg-3"></div>
<!-- Get Started Button : Enters into user's site to study and create flashcards -->
<!-- Parallex Image 4 -->
{{!-- <div class="bgimg-4"></div> --}}
<!-- Footer -->
<footer class="page-footer black center-align">
    <div class=" pink black-text footer-copyright center-align">
        <div class="container">
            © 2019 Copyright
        </div>
    </div>
</footer>
<!-- End Footer -->
<div id="extension-is-installed"></div>
<script src="https://code.jquery.com/jquery.js"></script>
<script>
    $(document).ready(function () {
        $("#flashCodes").show(500);
        
        $("#downward").click(function () {
           // $('html,body').scrollTo("#starter")
            $('html,body').animate({
                scrollTop: $("#starter").offset().top
            },
                2000);
        });

    })
</script>