body {
  background-color: black;
}

/* .scrolly {
-moz-transition: background-color 0.2s ease-in-out;
			-webkit-transition: background-color 0.2s ease-in-out;
			-ms-transition: background-color 0.2s ease-in-out;
      transition: background-color 0.2s ease-in-out;
} */

.downflash {
  position:absolute;
  bottom: 11rem;
  text-align: center;
  margin-left: -28px;
  

}

.downward {
  text-align: center;

}

.top-nav {
  height: 5rem !important;
}

header, #main {
  padding-left: 250px !important
}

.headtime {
  background-color: #EE6E73;
  height: 10rem;
  width: 100vw
}

@media only screen and (max-width : 992px) {
  header, #main, footer {
      padding-left: 0px !important
  }
}

/* NEW STUFF */
.flip {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: block;
  width: 1000px;
  height: 800px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  z-index: 20;
  
}

  .card div {
      position: absolute;
      height: 100%;
      width: 100%;
      /* background: rgb(255, 242, 219); */
      background: #292C33;
      /* color: black; */
      color: rgb(110, 180, 211);
      text-align: center;
      line-height: 2rem;
      font-size: xx-large;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-radius: 2px;
      
  }

  .card .back {
      /* background: lightgreen; */
      background: rgb(81, 90, 100);
      /* color: black; */
      color: white;
      text-align: center;
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
  }

label:hover .card {
  -webkit-transform: rotateY(20deg);
  transform: rotateY(20deg);
  box-shadow: 0 20px 20px rgba(50,50,50,.2);
}

input {
  display: none; 
}


:checked + .card {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

label:hover :checked + .card {
  transform: rotateY(160deg);
  -webkit-transform: rotateY(160deg);
  box-shadow: 0 20px 20px rgba(255,255,255,.2);
}

.collection {
  color: black;
}

.carousel {
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  /* border: 2px solid black; */
  width: 90%;
  min-width: 50vw;
  min-height: 60vh;
  text-align: center;
}

.carousel-item {
  width: 60% !important;
  height: 100% !important;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}


#main {
  min-height: 80vh;
}
.holder{
  height: 100%;
}

.title{
  padding-left: 1rem;
}

.q, .a {
  margin: 0 auto;
  /* vertical-align: middle; */
}

.link-text {
  font-size: large;
}

.intro {
  height: 100vh;
  width: 100%;
  background-image: url("/animated.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.fa-pencil-alt, .fa-times-circle {
  color: #e91e63;
  padding: 20px;
}
.fa-pencil-alt:hover, .fa-times-circle:hover {
  color: #ad1457;
}

.fa-sticky-note {
  float: right;
  color: green;
}
/* .fa-pencil-alt {
  position: relative;
  left: 80%;
  top: -40%;
  color: rgb(0, 99, 228)
}

.fa-times-circle {
  position: relative;
  left: 85%;
  top: -40%;
  color: rgb(0, 99, 228)
}

@media screen and (max-width: 768px) { 
  .fa-pencil-alt {
    left: 70%;
  }
  
  .fa-times-circle {
    left: 75%;
  } 
} */

.delete-toast {
  background-color: rgb(238, 64, 64);
}

.sidenav-fixed{
  width: 250px;
}


/* .header :hover{
  color: rgb(50, 144, 233);
} */

.header {
  padding-left: 2rem;
  font-size: 90px;
  padding-bottom: 2rem; 
}

body,
html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

.bgimg-2,
.bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bgimg-4 {
    background-image: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
    min-height: 100%;
    opacity: 0.65;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190220/ourmid/pngtree-brain-technology-code-digital-image_6990.jpg");
    min-height: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-2 {
    background-image: url("https://images.unsplash.com/photo-1457305237443-44c3d5a30b89?ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80");
    min-height: 400px;
}

.bgimg-3 {
    background-image: url("https://o.aolcdn.com/images/dims?quality=85&image_uri=https%3A%2F%2Fo.aolcdn.com%2Fimages%2Fdims%3Fcrop%3D6500%252C4800%252C0%252C0%26quality%3D85%26format%3Djpg%26resize%3D1600%252C1182%26image_uri%3Dhttps%253A%252F%252Fs.yimg.com%252Fos%252Fcreatr-images%252F2019-03%252F5471ef50-4038-11e9-8eae-17cd782a6149%26client%3Da1acac3e1b3290917d92%26signature%3Dd5735a99c6f84008b0262904b2d6564a503b26e8&client=amp-blogside-v2&signature=8059bb50fa7b7b978aaa53be8079e36b9b21ef40");
    min-height: 400px;
}

.caption {
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    text-align: center;
    color: #000;
}

.foot {
  width: 100%;
}

.card-panel {
  height: 425px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 23px "Lato", sans-serif;
    color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {

    .bgimg-1,
    .bgimg-2,
    .bgimg-3 .bgimg-4 {
        background-attachment: scroll;
    }
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

@media only screen and (max-width : 500px) {
  header, main, footer {
    padding-left: 0;
  }

  .header {
    font-size: 3rem;
    width: 100vw
  }

  .headtime {
    text-align: center !important;
    height: 8rem;
    padding: 1rem;
  }

  .front {
    width: 100vw;
    font-size: smaller;
  }

  .back {
    width: 100vw;
    font-size: smaller;
  }
}