body {
  background-color: black;
}

.top-nav {
  height: 5rem !important;
}

header, #main, footer {
  padding-left: 250px !important
}

.headtime {
  background-color: #EE6E73;
  height: 10rem;
  width: 100vw
}

@media only screen and (max-width : 992px) {
  header, #main, footer {
      padding-left: 0px !important
  }
}

/* NEW STUFF */
.flip {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: block;
  width: 1000px;
  height: 800px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  z-index: 20;
  
}

  .card div {
      position: absolute;
      height: 100%;
      width: 100%;
      /* background: rgb(255, 242, 219); */
      background: #292C33;
      /* color: black; */
      color: rgb(110, 180, 211);
      text-align: center;
      line-height: 2rem;
      font-size: xx-large;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-radius: 2px;
      
  }

  .card .back {
      /* background: lightgreen; */
      background: rgb(81, 90, 100);
      /* color: black; */
      color: white;
      text-align: center;
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
  }

label:hover .card {
  -webkit-transform: rotateY(20deg);
  transform: rotateY(20deg);
  box-shadow: 0 20px 20px rgba(50,50,50,.2);
}

input {
  display: none; 
}


:checked + .card {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

label:hover :checked + .card {
  transform: rotateY(160deg);
  -webkit-transform: rotateY(160deg);
  box-shadow: 0 20px 20px rgba(255,255,255,.2);
}

.collection {
  color: black;
}

.carousel {
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  /* border: 2px solid black; */
  width: 90%;
  min-width: 50vw;
  min-height: 60vh;
  text-align: center;
}

.carousel-item {
  width: 60% !important;
  height: 100% !important;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}


#main {
  min-height: 80vh;
}
.holder{
  height: 100%;
}

.title{
  padding-left: 1rem;
}

.q, .a {
  margin: 0 auto;
  /* vertical-align: middle; */
}

.link-text {
  font-size: large;
}

.intro {
  height: 100vh;
  width: 100%;
  background-image: url("/animated.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.fa-pencil-alt, .fa-times-circle {
  color: #e91e63;
  padding: 20px;
}
.fa-pencil-alt:hover, .fa-times-circle:hover {
  color: #ad1457;
}

.fa-sticky-note {
  float: right;
  color: green;
}
/* .fa-pencil-alt {
  position: relative;
  left: 80%;
  top: -40%;
  color: rgb(0, 99, 228)
}

.fa-times-circle {
  position: relative;
  left: 85%;
  top: -40%;
  color: rgb(0, 99, 228)
}

@media screen and (max-width: 768px) { 
  .fa-pencil-alt {
    left: 70%;
  }
  
  .fa-times-circle {
    left: 75%;
  } 
} */

.delete-toast {
  background-color: rgb(238, 64, 64);
}

.sidenav-fixed{
  width: 250px;
}


/* .header :hover{
  color: rgb(50, 144, 233);
} */

.header {
  padding-left: 2rem;
  font-size: 90px;
  padding-bottom: 2rem; 
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

@media only screen and (max-width : 500px) {
  header, main, footer {
    padding-left: 0;
  }

  .header {
    font-size: 3rem;
    width: 100vw
  }

  .headtime {
    text-align: center !important;
    height: 8rem;
    padding: 1rem;
  }

  .front {
    width: 100vw;
    font-size: smaller;
  }

  .back {
    width: 100vw;
    font-size: smaller;
  }
}